<div class="row">
  <div class="col-xs-12">
    <img [src]="selectedDetailRecipe.imagePath" style='max-height:200px'alt="{{selectedDetailRecipe.name}}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedDetailRecipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="">Add to List</a>
        </li>
        <li>
          <a href="">Edit Recipe</a>
        </li>
        <li>
          <a href="">Delte Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{selectedDetailRecipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>